<!DOCTYPE html>
<html>
<style>

table, td, th {border:black 2px solid;border-collapse: collapse}

#a {background-color:#ffffff}



</style>
<body>

<table style="width:50%">
<tr id = "a"><th>欄位</th><th>內容</th></tr>
<tr><td>名字</td><td><%= user2.name.first %></td></tr>
<tr><td>年齡</td><td><%= user2.age %></td></tr>
<tr><td>物種</td><td><%= user2.species %></td></tr>

</table>

</body>
</html>